name: Build Package

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
      # 1. 拉取你的代码
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. 核心打包步骤（这行绝对不要改）
      - name: Build with PyAppify
        uses: ok-oldking/pyappify-action@master

      # 3. 发布到Release页面
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: pyappify_dist/*
